<!DOCTYPE html>
<html>
<body style="background-image:url(https://www.planwallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg)">



<center><h1 style="font-size:100px">Welcome to the Alpha Blog About section!</h1></center>
<p style="font-size:45px">I am a student learing how to program with ruby on rails, and this is one of the projects in my course. I hope to learn a lot from this project</p>
<img src="http://rubyonrails.org/images/rails-logo.svg" width="50%" height="50%">
<img src="https://vignette.wikia.nocookie.net/battlefordreamisland/images/c/c2/Ruby_12.png/revision/latest?cb=20121101200025">
<table style="font-size:35px">

<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    length: 1%;
    background-color: red;
    color: black;
    text-align: center;
}
</style>

<div class="footer">
  <p style="font-size: 20px">A project for the complete ruby on rails developer course</p>
</div>
  <%= link_to 'Homepage', root_path %>
<img src="http://www.cityrider.com/fixed/43aspect.png">


</body>
</html>
